body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff; /* Background color */
  color: #434455; /* Text color */
  font-style: normal;
}
a,
button {
  text-decoration: none; /* Remove underline from links */
  color: #2e2f42; /* Default link color */
  font-style: normal;
  cursor: pointer;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none; /* Remove default bullet points */
}
img {
  display: block;
}
.container {
  max-width: 1440px;
  padding: 0 0;
  margin: 0 auto; /* Center section horizontally */
}
/* Header styles */
.header-section .container {
  display: flex; /* Flex container */
  justify-content: space-between; /* Space between logo, nav, and address */
  align-items: center;
}
/* Navigation styles */
.header-nav {
  display: flex; /* Flex container for nav */
}

/* logotype  */
.header-logo {
  font-family: "Raleway", sans-serif; /* Используем правильный шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  text-transform: uppercase; /* Текст в верхнем регистре */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px; /* Расстояние между логотипом и навигацией */
  margin-left: 156px; /* Расстояние между логотипом и левым краем */
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-part {
  color: #2e2f42; /* Цвет для "Studio" */
}
.header-logo:hover,
.header-logo:focus,
.logo-part:hover,
.logo-part:focus {
  color: #404bbf;
}
/* Navigation UL styles */
.nav-list {
  display: flex; /* Flex container for list */
  gap: 40px; /* Space between each list item */
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 332px;
}
/* Navigation link styles */
.nav-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px; /* Font size */
  font-weight: 500; /* Medium font weight */
}
.nav-items .nav-link:hover,
.nav-items .nav-link:focus {
  color: #404bbf;
}
/* Navigation Address block */
.nav-address {
  display: flex;
  font-style: normal;
  margin-right: 156px;
  align-items: center;
}
/* Address section UL styles */
.address-list {
  display: flex; /* Гибкий контейнер для email и телефона */
  gap: 40px; /* Space between each list item */
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Address section LI styles */
.address-items {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* Firts section styles */
.first-section {
  background-color: #2e2f42; /* Background color */
}
.first-section div.container {
  padding: 188px 472px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 1st section H1 styles */
.header-one {
  font-weight: 700; /* Bold text */
  font-size: 56px; /* Font size */
  color: #ffffff; /* Text color */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 0;
}
/* 1st section Button styles */
.button {
  font-weight: 500; /* Medium text */
  font-size: 16px; /* Font size */
  color: #ffffff; /* Text color */
  background-color: #4d5ae5; /* Button background color */
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}
div.container .button {
  padding: 16px 32px;
}
/* Button hover and focus styles */
.button:hover,
.button:focus {
  background-color: #404bbf; /* Цвет фона кнопки при наведении или фокусе */
}
/* 2nd section About US */
.about-section {
  padding: 120px 156px;
}
.about-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-three {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
/* 2nd section Paragraph styles */
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: left;
}
/* Third Section - Our Team  */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 156px;
}
/* 3rd section H2 styles */

.header-two {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11; /* Высота строки равна высоте текста */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
  margin-top: 0;
}
/* 3rd section UL styles */
.team-list {
  display: flex;
  flex-direction: raw;
  gap: 24px;
}
.team-items {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
img .team-items {
  margin-bottom: 32px;
}
.header-three .team-items {
  margin-bottom: 8px;
}
.team-items .text {
  padding-bottom: 32px;
}
/*4th Section - Portfolio */
/* .portfolio-section  */
/* portfolio H2 styles */
.portfolio-section .header-two {
  text-align: center;
}
/* 4th section portfolio UL styles */
/* .portfolio-list  */
/* 4th section portfolio LI styles */
/* .portfolio-items  */
/* 4th section portfolio IMG styles */
/* .portfolio-section img  */
/* 4th section portfolio H3 styles */
/* .portfolio-section .header-three  */
/* 4th section portfolio Text styles */
/* .portfolio-section .text  */
/* Footer section */
.footer-section {
  background: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif; /* Используем правильный шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase; /* Текст в верхнем регистре */
}
.footer-logo .logo-part {
  color: #f4f4fd; /* Цвет для "Studio" */
}
.footer-logo:hover,
.footer-logo:focus {
  color: #404bbf; /* Hover and focus color */
}
.footer-section .logo-part:hover,
.footer-section .logo-part:focus {
  color: #404bbf; /* Hover and focus color */
}
.footer-section .text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
